@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --sh-class: #4c97f8;
  --sh-identifier: #6caedd;
  --sh-keyword: #f47067;
  --sh-string: #0fa295;
  --sh-comment: #cbc3c3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #353534;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

/* below section to make link underlines on hover */
.custom-link {
  position: relative;
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
  /* semibold */
}

.custom-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  /* Slight gap */
  left: 0;
  background-color: #4f46e5;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.custom-link:hover::before {
  transform: scaleX(1);
  font-weight: bold;
}