/* components/CustomLink.module.css */

.customLink {
  position: relative;
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

.customLink::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--primary);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.customLink:hover::before {
  transform: scaleX(1);
  font-weight: bold;
}